SLACK_BOT_ACTIVE=0
SLACK_BOT_TOKEN=""
SLACK_BOT_CHANNEL=""
REFRESH_EVERY_MINUTES=34
RETRIES=1
SCRAPING_BEE_TOKEN=""
TELEGRAM_BOT_ACTIVE=1
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_CHAT_ID=""

# Supports immowelt.de, immonet.de and immobilienscout24 (with scraping bee)
URLS='["URL1", "URL2"]'